{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Hola, prueba</h1>
  </div>
  <div class="col-4">
    <img class="img-thumbnail" src="assets/images/atril_4.jpg" alt="">
  </div>
</div>

{{> footer }}