{{> head }}
<body>

  {{> navbar }}



  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hola {{ capitalizar nombre }}</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>


  <h1>Hola mundo</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
    perferendis hic ullam ea, voluptate blanditiis fuga natus quo, esse
    illo eveniet sed ex veritatis exercitationem debitis. Nobis, debitis fuga?
  </p>


  {{> footer }}